<!-- templates/about.html -->
{% extends '_base.html' %}

{% block title %}About{% endblock title %}

{% comment %} {% block sidebar %} {% endcomment %}

    {% comment %} <span class="sidebar-heading">Dashboard Detail</span>
    <hr>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="#">
            <i class="fa fa-info-circle" aria-hidden="true"></i>
            DCF Detail
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
            <i class="fa fa-wrench" aria-hidden="true"></i>
            Update Stats
            </a>
        </li>
    </ul> {% endcomment %}

{% comment %} {% endblock sidebar %} {% endcomment %}

{% block content %}
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 min-vh-100">
                    <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-decoration-none">
                        <span class="fs-5 d-none d-sm-inline">Menu</span>
                    </a>
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                        <li class="nav-item">
                            <a href="#" class="nav-link px-0 align-middle">
                                <i class="fa fa-wrench"></i>
                                <span class="ms-1 d-none d-sm-inline">Home</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link px-0 align-middle">
                                <i class="fa fa-wrench"></i>
                                <span class="ms-1 d-none d-sm-inline">Orders</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link px-0 align-middle">
                                <i class="fa fa-wrench"></i>
                                <span class="ms-1 d-none d-sm-inline">Customers Spacing</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col py-3">
                Content area...
            </div>
        </div>
    </div>
{% endblock content %}